.app {
  display: flex;
}

main {
  display: grid;
  grid-template-columns: 500px 500px 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
    "header header header"
    "question question sidebar"
    "grid grid sidebar"
    "grid grid sidebar";
}

.final_answer {
  background: #709634 !important;
}
.invisible {
  visibility: hidden !important;
}
.ghost {
  display: none;
}

aside {
  grid-area: sidebar;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

aside i {
  font-size: 80px;
}

.settings {
  margin-top: 100px;
}
.settings button {
  background: grey;
  margin: 3px;
  border-radius: 0 0 0 0;
}
.settings button i {
  font-size: 24px;
}

.header h1 {
  text-align: center;
  font-size: 64px;
}
